src/main/resources/wsdl/persona.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.upeu.pe/services/persona/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="persona"
	xmlns:types="http://ws.upeu.pe/types/persona/"
	targetNamespace="http://ws.upeu.pe/services/persona/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://ws.upeu.pe/services/persona/">
		
			<xsd:element name="getPersonaByIdRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getPersonaByIdResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personaType" type="tns:PersonaType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="createPersonaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personaType" type="tns:PersonaType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="createPersonaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personaType" type="tns:PersonaType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<xsd:element name="updatePersonaRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personaType" type="tns:PersonaType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="updatePersonaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="personaType" type="tns:PersonaType" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			
			
            <!-- Detalle de la persona -->
            <xsd:complexType name="PersonaType">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"></xsd:element>
                    <xsd:element name="nombre" type="xsd:string"></xsd:element>
                    <xsd:element name="apellido" type="xsd:string"></xsd:element>
                    <xsd:element name="dni" type="xsd:string"></xsd:element>
                    <xsd:element name="telefono" type="xsd:string"></xsd:element>
                    <xsd:element name="email" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
			
			
			
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="getPersonaByIdRequest">
		<wsdl:part element="tns:getPersonaByIdRequest" name="inputData" />
	</wsdl:message>
	
	<wsdl:message name="getPersonaByIdResponse">
		<wsdl:part element="tns:getPersonaByIdResponse"
			name="outputData" />
	</wsdl:message>
	
	<wsdl:message name="createPersonaRequest">
		<wsdl:part element="tns:createPersonaRequest" name="inputData" />
	</wsdl:message>
	
	<wsdl:message name="createPersonaResponse">
		<wsdl:part element="tns:createPersonaResponse"
			name="outputData" />
	</wsdl:message>
	
	
	<wsdl:message name="updatePersonaRequest">
		<wsdl:part element="tns:updatePersonaRequest" name="inputData" />
	</wsdl:message>
	
	<wsdl:message name="updatePersonaResponse">
		<wsdl:part element="tns:updatePersonaResponse"
			name="outputData" />
	</wsdl:message>
	
	
	
	<wsdl:portType name="personaPorType">
		<wsdl:operation name="findById">
			<wsdl:input message="tns:getPersonaByIdRequest" />
			<wsdl:output message="tns:getPersonaByIdResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="add">
			<wsdl:input message="tns:createPersonaRequest" />
			<wsdl:output message="tns:createPersonaResponse" />
		</wsdl:operation>
		
		<wsdl:operation name="update">
			<wsdl:input message="tns:updatePersonaRequest" />
			<wsdl:output message="tns:updatePersonaResponse" />
		</wsdl:operation>
		
		
	</wsdl:portType>
	

	
	
	
	
	
	
	<wsdl:binding name="personaSOAP" type="tns:personaPorType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="findById">
			<soap:operation
				soapAction="http://ws.upeu.pe/services/persona/findById" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="add">
			<soap:operation
				soapAction="http://ws.upeu.pe/services/persona/add" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="update">
			<soap:operation
				soapAction="http://ws.upeu.pe/services/persona/update" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		
	</wsdl:binding>
	<wsdl:service name="personaService">
		<wsdl:documentation>Persona Service</wsdl:documentation>
	
		<wsdl:port binding="tns:personaSOAP" name="personaSOAP">
			<soap:address location="http://localhost:8080/upeu/ws/personaDemo" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
